@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-image: url("/ferdinand-stohr-iW1WzbuWMcA-unsplash 2.jpg");
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .glass-border {
    border: 2px solid transparent;
    border-radius: 1rem;
    border-image: linear-gradient(135deg, white, transparent);
    border-image-slice: 1;
    background-clip: content-box, border-box;

    /* shadow-[1.5px_2.5px_3px_rgba(0,0,0,.2)] */
  }

  .btn-gradient-2 {
    background: 
      linear-gradient(transparent, transparent) padding-box,
                linear-gradient(135deg, white, transparent) border-box;
    /* border-radius: 50em; */
    border: 2px solid transparent;
  }
}
